*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/raw/skateboard.obj
app/src/main/res/drawable/deck.png
app/src/main/res/drawable/deck2.png
app/src/main/res/drawable/decktest.png
app/src/main/res/drawable/grip.png
app/src/main/res/drawable/grip2.png
app/src/main/res/drawable/specularmap.png
app/src/main/res/drawable/specularmaptest.png
app/src/main/res/drawable/grip3.png
app/src/main/res/drawable/grip4.png
app/src/main/res/drawable/grip5.png
app/src/main/res/drawable/jart_new_wave.png
app/src/main/res/drawable/palacedeck.png
app/src/main/res/drawable/palacedeckspecular.png
app/src/main/res/drawable/palacedecktest.png
app/src/main/res/drawable/primitive_rodriquez_thorns.png
app/src/main/res/drawable/primitive_x_rick_and_morty.png
app/src/main/res/drawable/real_wair_flooded.png
