*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/raw/skateboard.obj
app/src/main/res/drawable/skateboardComponent.png
app/src/main/res/drawable/deck2.png
app/src/main/res/drawable/decktest.png
app/src/main/res/drawable/grip.png
app/src/main/res/drawable/grip2.png
app/src/main/res/drawable/specularmap.png
app/src/main/res/drawable/specularmaptest.png
app/src/main/res/drawable/grip3.png
app/src/main/res/drawable/grip4.png
app/src/main/res/drawable/grip5.png
app/src/main/res/drawable/jart_new_wave.png
app/src/main/res/drawable/palacedeck.png
app/src/main/res/drawable/palacedeckspecular.png
app/src/main/res/drawable/palacedecktest.png
app/src/main/res/drawable/primitive_rodriquez_thorns.png
app/src/main/res/drawable/primitive_x_rick_and_morty.png
app/src/main/res/drawable/real_wair_flooded.png
app/src/main/res/drawable/deck.png
app/src/main/res/drawable/design_jart_new_wave.png
app/src/main/res/drawable/design_palace.png
app/src/main/res/drawable/design_primitive_rodriquez_thorns.png
app/src/main/res/drawable/design_primitive_x_rick_and_morty.png
app/src/main/res/drawable/design_real_wair_flooded.png
app/src/main/res/drawable/girl_mccrank_skull_of_fame.png
app/src/main/res/drawable/primitive_x_naruto_rodriguez_combat.png
app/src/main/res/drawable/real_busenitz_flooded_full.png
app/src/main/res/drawable/grip_mob_basic.png
app/src/main/res/drawable/grip_mob_x_independent_four_cross.png
app/src/main/res/drawable/primitive_najera_cross_stitch.png
