*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/raw/skateboard.obj
app/src/main/res/drawable/deck.png
app/src/main/res/drawable/deck2.png
app/src/main/res/drawable/decktest.png
app/src/main/res/drawable/grip.png
app/src/main/res/drawable/grip2.png
app/src/main/res/drawable/specularmap.png
app/src/main/res/drawable/specularmaptest.png
